@import "./styles/variables.css";
@import "./styles/global.css";
@import "./styles/fonts.css";
@import "./styles/navbar.css";
@import "./styles/header.css";
@import "./styles/main.css";
@import "./styles/footer.css";

