footer{
    padding-top:var(--stp);
    background-color: var(--primary);
    display:flex;
    flex-direction: row;
    align-items: center;
    .footer_block{
        margin-block: var(--stp);
    }
    .brand{
        color:white;
    }
    #opening_hours{
        width:217px;
        display:flex;
        flex-direction: column;
        gap:28px;
        padding-left:var(--stm-inline);
    }
    #social_media{
        width:730px;
        margin-inline: var(--stp);
        text-align: center;
        border-left: 1px solid var(--primary-dark);
        border-right: 1px solid var(--primary-dark);
        img{
            margin-inline:var(--stp);
        }
       *{
            padding-block:var(--hstp);
        }
    }
    #footer_etc{
        width:217px;
        text-align: center;
        padding-right:var(--stm-inline);
    }
    @media(max-width:800px){
        flex-direction: column;
        text-align: center;
        #opening_hours{
            padding-left:0px;
            order:2;
        }
        #social_media{
            order:1;
        }
        #footer_etc{
            padding-right:0px;
            order:3;
        }
    }
}