*{
    font-family: 'Inter';
}
html{
    background-color: var(--background-color);
}
a{            
    color: #000000;
    text-decoration: none;
}
.brand {
    font-family: 'Glass Antiqua';
    text-transform: uppercase;
}
.button {
    margin:var(--stm-block);
    padding: var(--stp);
    border: 2px solid #000000;
    border-radius: 11px;
    text-transform: uppercase;
    text-align: center;
    max-width: fit-content;
    align-self: center;
}
.bold {
    font-weight: 600;
}