header{
    z-index: -1;
    top:0;
    max-width: 100%;
    height: 100%;
    h1{
        position: relative;
        top: -22rem;
        text-align: center;
        background-color: var(--accent);
        width: fit-content;
        left: 37.5%;
        @media(max-width:800px){
            top:-10rem;
            left:20%;
        }
    }
    img{
        max-height: inherit;
        max-width: inherit;
        object-fit: cover;
        width: auto;
    }
    
}