main{
    
    justify-content: center;
    .block{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        margin-inline:var(--stm-inline);
        margin-block:var(--stm-block);
        p{
            padding-top:var(--txtgap);
        }
    }
    .block_text{
        img{
            margin:var(--stp);
        }
        display: flex;
        flex-direction: column;
        max-width: 454px;
    }
    .divider{
        margin-inline: var(--stm-inline);
        height:1px;
        border-top:1px solid var(--accent);
    }
    .staff_img{
        display:flex;
        flex-direction: row;
        gap:32px;
    }
    .thankyou{
        display:flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: var(--stm-inline);
            text-align: center;
        }
    .steps-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
}
    }
    @media(max-width: 800px){
        .block{
            flex-direction:column;
        }
    }
    }
    
