.navbar {
    position:fixed;
    top:0;
    left:6.5vw;
    right:6.5vw;
    margin-inline: var(--stp);
    display: flex;
    align-items: center;
    justify-content:center;
    gap:23vw;
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bar{
        z-index:-1;
        position:absolute;
        height: 2.5rem;
        width: 78vw;
        background-color: var(--primary);
    }
    nav{
        gap:var(--stp);
        display:flex;
        flex-direction: row;
        text-transform: uppercase;
        a{
            text-align: center;
        }
        a:hover{
            text-decoration: underline;
        }
        
    }
    @media(min-width: 801px){
        nav{
            display:flex;
        }
        .hamburger{
            display:none;
        }
    }
    @media(max-width: 800px){
        nav{
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: var(--background-color);
            top: 6rem;
            left: 55rem;
            border: 1px solid var(--accent);
            border-radius: 10px;
            transition: 0.8s ease;
        }
        nav.active{
            left:22rem;
        }
    
    .hamburger{
        transition: 0.8s ease;
        div{
            width:1.25rem;
            position:relative;
        line-height: 1px;
        border: 2px solid #000000;
    }
    .line_1{
        top:-0.25rem;
    }
    .line_3{
        top:0.25rem;
    }
   
    }
    .hamburger.active{
        transition: 0.8s ease;
    
    .line_1{
        transform: translate(0px,7px) rotate(45deg) ;
    }
    .line_2{
        opacity:0;
    }
    .line_3{
        transform: translate(0px,-7px) rotate(-45deg);
    }
   
    }
}
}