:root{
    --primary:#649A45;
    --primary-dark: #225626;
    --accent: #BB914E;
    --background-color: #F9EECC;
    --stp: 1.25rem; /*standard padding*/
    --hstp: 0.625rem; /*half of standard padding*/
    --stm-inline: 8.625rem; /*standard inline margin*/
    --stm-block: 6.354rem; /*standard block margin*/
    --txtgap: 1.563rem; /*gap between paragraphs and headline*/
}